:host {
    display: block
    position: relative
}

.CodeMirror {
    overflow-y: hidden
    overflow-x: hidden
    height: auto
    line-height: 130%

    font-family: 'DejaVu Sans Mono', monospace
    font-size: 12px
    font-weight: 100
}

.CodeMirror-scroll {
    overflow-y: hidden
    overflow-x: hidden
}

.CodeMirror-hscrollbar{
    overflow-x: visible
    overflow-y: visible
}

.CodeMirror-dialog {
    position: absolute
    left: 0
    right: 0
    z-index: 15
    line-height: 24px
    padding: .1em .8em
    overflow: hidden
    font-size: 14px
    color: gray
    background: #333
    border-bottom: 1px solid rgba(0,0,0,0.09);
    box-shadow: 0 1px 3px rgba(0,0,0,0.06);
}

.cm-searching {
    background: rgb(245,238,146)
}

.cm-s-mbo div.CodeMirror-selected {
    background: rgb(247,196,78) !important;
}
